{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | Djangify Admin{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        Djangify Administration
    </a>
</h1>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<style>
    :root {
        --primary-color: #0C8C9D;  /* Change this to match your brand color */
        --secondary-color: #403F3F;
    }

    #header {
        background: var(--primary-color);
        color: #fff;
    }
    
    #header a:link, #header a:visited {
        color: #fff;
    }
    
    #branding h1 {
        color: #fff;
    }
    
    .module h2, .module caption, .inline-group h2 {
        background: var(--primary-color);
    }
    
    div.breadcrumbs {
        background: var(--secondary-color);
    }
    
    .button, input[type=submit], input[type=button], .submit-row input, a.button {
        background: var(--primary-color);
    }
    
    .button:hover, input[type=submit]:hover, input[type=button]:hover {
        background: var(--secondary-color);
    }
    
    .button.default, input[type=submit].default, .submit-row input.default {
        background: var(--primary-color);
    }
    
    .button.default:hover, input[type=submit].default:hover {
        background: var(--secondary-color);
    }
</style>
{% endblock %}
